<a href="https://colab.research.google.com/github/Ashwin-ap/API/blob/master/TimeSeriesAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import datetime as dt

In [3]:
date = pd.datetime(2024,7,7,1,34,8)

<ipython-input-3-6d25198b5f0d>:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  date = pd.datetime(2024,7,7,1,34,8)

In [4]:
print(date.month)

7

In [5]:
print(date.year)

2024

In [17]:
df = pd.DataFrame({'A': [1, 2, 3, 4]}, index=pd.DatetimeIndex(['2022-01-03', '2023-03-07', '2024-08-21', '2023-03-07']))

In [11]:
print(df)

            A
2022-01-03  1
2023-03-07  2
2024-08-21  3

In [12]:
si = df.shift(periods=1)
print(si)

              A
2022-01-03  NaN
2023-03-07  1.0
2024-08-21  2.0

In [13]:
df['lagged'] = df['A'].shift(periods=1)
print(df)

            A  lagged
2022-01-03  1     NaN
2023-03-07  2     1.0
2024-08-21  3     2.0

In [18]:
res = df.resample('M').sum()
print(res)

            A
2022-01-31  1
2022-02-28  0
2022-03-31  0
2022-04-30  0
2022-05-31  0
2022-06-30  0
2022-07-31  0
2022-08-31  0
2022-09-30  0
2022-10-31  0
2022-11-30  0
2022-12-31  0
2023-01-31  0
2023-02-28  0
2023-03-31  6
2023-04-30  0
2023-05-31  0
2023-06-30  0
2023-07-31  0
2023-08-31  0
2023-09-30  0
2023-10-31  0
2023-11-30  0
2023-12-31  0
2024-01-31  0
2024-02-29  0
2024-03-31  0
2024-04-30  0
2024-05-31  0
2024-06-30  0
2024-07-31  0
2024-08-31  3

In [19]:
#Time Decomposition

In [20]:
import numpy as np

In [21]:
dates = pd.date_range(start='2024-01-01', end='2024-03-31')
values = np.random.randint(low=1, high=100, size=len(dates))

In [22]:
df = pd.DataFrame({'date': dates, 'value': values})
df = df.set_index('date')

In [23]:
print(df)

            value
date
2024-01-01     78
2024-01-02     36
2024-01-03     95
2024-01-04     15
2024-01-05     34
...           ...
2024-03-27     56
2024-03-28     72
2024-03-29     42
2024-03-30     87
2024-03-31     75

[91 rows x 1 columns]

In [24]:
from statsmodels.tsa.seasonal import seasonal_decompose

In [25]:
decomposition = seasonal_decompose(df['value'], period=7)

In [27]:
df['trend'] = decomposition.trend
df['seasonal'] = decomposition.seasonal
df['residual'] = decomposition.resid

In [28]:
print(df)

            value      trend   seasonal   residual
date
2024-01-01     78        NaN   6.843407        NaN
2024-01-02     36        NaN   4.164835        NaN
2024-01-03     95        NaN  -7.870879        NaN
2024-01-04     15  43.000000  -5.655678 -22.344322
2024-01-05     34  45.428571   4.771978 -16.200549
...           ...        ...        ...        ...
2024-03-27     56  55.714286  -7.870879   8.156593
2024-03-28     72  56.714286  -5.655678  20.941392
2024-03-29     42        NaN   4.771978        NaN
2024-03-30     87        NaN -14.442308        NaN
2024-03-31     75        NaN  12.188645        NaN

[91 rows x 4 columns]

In [29]:
#Time Series Forecasting
#ARIMA - doesn't make seasonal component
#SARIMA = does have seasonal component

In [30]:
#(1,1,1) - auto-regression, integration, moving average

In [31]:
dates = pd.date_range(start='2024-01-01', end='2024-03-31')
values = np.random.randint(low=1, high=100, size=len(dates))
df = pd.DataFrame({'date': dates, 'value': values})
df = df.set_index('date')
print(df)

            value
date
2024-01-01      9
2024-01-02     87
2024-01-03     17
2024-01-04     23
2024-01-05     31
...           ...
2024-03-27     73
2024-03-28      9
2024-03-29     40
2024-03-30      9
2024-03-31     59

[91 rows x 1 columns]

In [32]:
#ARIMA
from statsmodels.tsa.arima.model import ARIMA

#fitting
model = ARIMA(df['value'], order=(1,1,1))
model_fit = model.fit()

#7 day forecast
forecast = model_fit.forecast(steps=7)
print(forecast)

/usr/local/lib/python3.10/dist-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  self._init_dates(dates, freq)

2024-04-01    46.821439
2024-04-02    46.118561
2024-04-03    46.077995
2024-04-04    46.075654
2024-04-05    46.075519
2024-04-06    46.075511
2024-04-07    46.075510
Freq: D, Name: predicted_mean, dtype: float64

In [33]:
#SARIMA
from statsmodels.tsa.statespace.sarimax import SARIMAX

model = SARIMAX(df['value'], order=(1,1,1), seasonal_order=(1,1,1,7))
model_fit = model.fit()

#7-day forecast
forecast = model_fit.forecast(steps=7)
print(forecast)

/usr/local/lib/python3.10/dist-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  self._init_dates(dates, freq)

2024-04-01    35.181248
2024-04-02    45.271454
2024-04-03    34.390538
2024-04-04    54.119662
2024-04-05    35.327129
2024-04-06    54.746684
2024-04-07    30.254332
Freq: D, Name: predicted_mean, dtype: float64

In [34]:
#THANK YOU :)